language: node_js
node_js: 
    - 4.2.1
    - 6.3.1
notifications:
    - claudenirfreitas.cf@gmail.com
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8    
env:
    - TRAVIS=travis CXX=g++-4.8
    global:
        - NODE_ENV: test
before_install:
    - npm install
script:
    - npm run test
